---
import Base from '@/layouts/Base.astro';
---

<Base title="關於" centered={false}>
  <article class="prose prose-lg max-w-[68ch] mx-auto mt-8 mb-16">
    <h1>關於</h1>
    <p>這裡是你的個人介紹。</p>
  </article>
</Base>
